{% extends "layout.html" %}
{% block main %}
<h2>About the Demand Response Dispatch Tool</h2>
<p>In 2009, The Electricity Markets and Policy Group was working with the Western blah blah to analyze system loads across their network. When studying th effects of a proposed demand response (DR) program, they found that curret industry tools did not adequeatly meet their modeling needs.</p>
<p>To meet the need for realistic representation of the effect of a demand response program on the electrical grid, LBL developed The Demand Response Dispatch Tool. Originally written in SAS, it has been released here under an evaluation license for use by industry.</p>
{% endblock %}
