{% extends "layout.html" %}
{% block main %}
<h2>About the Demand Response Dispatch Tool</h2>

<p>In 2009, Lawrence Berkeley National Laboratory's <a href = "emp.lbl.gov">
Electricity Markets and Policy Group</a> was working with the 
<a href="www.wecc.biz">Wester Electricity Coordinating Council</a> (WECC)
to analyze system loads across the WECC network. When studying th effects of a 
proposed demand response (DR) program, they found that curret industry tools 
did not adequeatly meet their modeling needs.</p>

<p>To meet the need for realistic representation of the effect of a demand 
response program on the electrical grid, LBL developed The Demand Response 
Dispatch Tool. Originally written in SAS but translated to Python, it has 
been released here under an evaluation license for use by industry.</p>

<h3>How does The Demand Response Dispatch Tool work?</h3>
<p>The Demand Response Dispatch Tool (DRDT) works by constructing a curve 
that represents various quantities. It is against this curve it decides what 
the "high" and "low" periods against which to dispatch are.</p>

<p>Overall, those quantities are the kW of energy being used by the grid, the 
cost of the kW of energy being used by the grid, and the unit cost of the 
energy being used by the grid.</p>

<p>Next, two very distinct strategies are chosen for assigning DR 
dispatch -- flexibly or inflexibly. In the inflexible approach, each 
program is considered so that each program is called X times with each 
call being some continuous block of Y hours.  No program can be called more 
than once per day. In the flexible approach, each program can be called for 
X*Y 1 hour blocks.  No one program can be called more than once in an hour, 
and no program can be called more than Y times in a day.</p>

<p>Finally, in the inflexible approach, two modes of operation are possible.
In the first, the DR periods to use are calculated as the highest averages - 
so that a 4 hour program would look at 4-hour average periods when describing 
which to assign to (PeakPeriod).  In the second, the DR periods are assigned to 
contain the highest individual hours of the year, and started at the hour that 
maximizes the DR reduction given that.</p>

<h2>About this website</h2>
<p>This site was created with the <a href="http://flask.pocoo.org/"> Flask</a> 
web framework. The authors are grateful to the creators of the 
<a href="http://glyphicons.com/">Glyphicon</a> set and for the 
<a href="http://twitter.github.com/bootstrap/index.html">Bootstrap CSS framework</a>.</p>
{% endblock %}
