{% extends "layout.html" %}
{% block main %}

<h2>Named Algorithms</h2>
<dl>
    <dt>Original</dt>
    <dd>Andy Satchwell's original DR Dispatch algorithm.</dd>
    <dt>booleanPeakPeriodPriceMaximizingIndependentDispatch</dt>
    <dd>Assigns when the n-hour price-per-unit LMP prices have the highest averages.</dd>
    <dt>maximumPeakPeriodPriceMaximizingIndependentDispatch</dt>
    <dd>Assigns when the n-hour price savings would be highest assuming 100% dispatch.</dd>
    <dt>expectedPeakPeriodPriceMaximizingIndependentDispatch</dt>
    <dd>Assigns when n-hour price savings would be highest assuming expected dispatch.</dd>
    <dt>expectedPeakPeriodMegawattMaximizingIndependentDispatch</dt>
    <dd>Assigns when the n-hour energy savings would be the highest over the year given expected utilization.</dd>
    <dt>booleanPeakHourPriceMaximizingIndependentDispatch</dt>
    <dd>Assigns to the specific hour where prices are highest assuming
   dispatch is available.  This is the most similar to the original
   algorithm.</dd>
    <dt>maximumPeakHourPriceMaximizingIndependentDispatch</dt>
    <dd>Assigns to the specific hour when savings are highest given 100% DR dispatch.</dd>
    <dt>expectedPeakHourPriceMaximizingIndependentDispatch</dt>
    <dd>Assigns to the best period surrounding the specific hour when the
expected savings are the highest.</dd>
    <dt>expectedPeakHourMegawattMaximizingIndependentDispatch</dt>
    <dd>Assigns to the best period surrounding the specific hour when the
most megawatts are dispatched.</dd>
</dl>
<h2>Algorithm Properties</h2>
<h4>DispatchProperty_A</h4>
<p>This property controls how the algorithm decides
to slice up the time to get the best dispatches.</p>
<ol>
    <li>PeakHour: Under this scheme, the algorithm looks for the most
    extreme peaks during the year and then makes programs so that they
    straddle the worst peaks in the optimal ways.</li>
    <li>PeakPeriod: In this scheme, the algorithm looks for the highest
    n-hour periods for each day and assigns dispatch to the highest.</li>
</ol>

<h4>DispatchProperty_B</h4>
<p>This property controls the population that is to be used.</p>
<ol>
    <li>Boolean: this is 1 if the program has dr to dispatch and 0 if not.</li>
    <li>Maximum: This returns the maximum amount of DR that can be
dispatched.  This is the value found in the ReferenceDR file.</li>
    <li>Expected: This returns the expected amount of megawatts that will
be dispatched.  This equals the maximum amount multiplied by the
expected-usage "shape" fraction.</li>
</ol>
<h4>DispatchProperty_C</h4>
<p>This property controls the quantity the algorithm is optimizing.</p>
<ol>
    <li>Price: This will cause the algorithm to convert the megawatts of
dispatch into prices, by multiplying by the LMP.</li>
    <li>Power: this will cause the algorithm to leave the dispatch amounts
in their megawatt form.</li>
</ol>
{% endblock %}
