{% extends "layout.html" %}
{% block main %}
<h2>Getting help with the Demand Response Dispatch Tool</h2>
<p>This section provides a tutorial on how to use the DRDT, as well as step-by-step instructions on using the provided Excel template for analysis of results.</p>
<h3>Produce Input Files</h3>
<p>Input files must be in a specific format. A 
<a href="/template_generator">template generator</a> is provided which will 
take into account your specific balancing authorities and avialable demand 
response programs.</p>

{% endblock %}
