<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/"><i class="icon-leaf"></i> Demand Response Dispatch Tool</a>
        <ul class="nav">
            <li {{ add_class(title, 'Home')|safe }}><a href="/">Home</a></li>
            <li {{ add_class(title, 'Get Started')|safe }}><a href="/get_started">Get Started</a></li>
            <li {{ add_class(title, 'About')|safe }}><a href="/about">About</a></li>
            <li {{ add_class(title, 'Documentation')|safe }}><a href="/documentation">Documentation</a></li>
            <li {{ add_class(title, 'Contact')|safe }}><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav pull-right">
            {% if session.logged_in %}
                <li class="pull-right"><a href = "{{ url_for('logout') }}">Log out</a></li>
            {% endif %}
        </ul>
    </div>
</div>
