{% extends "layout.html" %}
{% block main %}
<p class="hero-unit">Welcome to the Demand Response Dispatch Tool. We are providing technical assistance to the Western Interconnect (WECC) with transmission and generation expansion planning.  Part of our work is in developing estimates of demand response (DR) resource levels and then helping WECC model them within their production cost models and generation expansion tools.  We have made major progress in the past two years in institutionalizing a more realistic dispatch approach for economic DR resources in WECC.</p>
{% endblock %}
