{% extends "layout.html" %}
{% block main %}
<div class="hero-unit">
    <p><strong>Welcome to the Demand Response Dispatch Tool.</strong> The Demand Response Dispatch Tool (DRDT) was developed by Lawrence Berkeley National Laboratory (LBNL) to create load modifying profiles of Demand Response (DR) resources for use by regional transmission planners in the Western Interconnect.  The DRDT uses DR resource availability and price information to develop a realistic dispatch approach for economic DR resources.  The DRDT was initially created to develop inputs to PROMOD, a production cost model, but the load modifying profiles can be used more widely by other production cost and planning models.
    </p>
    <p><a class="btn btn-success btn-large" href="/get_started">Get Started &raquo;</a></p>
</div>
{% endblock %}
