{% extends "layout.html" %}
{% block main %}
<h2>Lawrence Berkeley National Laboratory</h2>
<h3>Demand Response Dispatch Tool</h3>
<p>This tool is currently under evaluation only. To request access, 
please email <a href="mailto:asatchwell@lbl.gov">Andy Satchwell</a>, of 
the <a href="http://emp.lbl.gov">Electricity Markets and Policy Group</a>.</p>

{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:</dt>
      <dd><input type=text name=username></dd>
      <dt>Password:</dt>
      <dd><input type=password name=password></dd>
      <dd><input type=submit value=Login></dd>
    </dl>
  </form>
{% endblock %}
